<h1>Eat-Da-Burger!</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <label>To be Eaten:</label>
            {{#each burgers}}
            {{#unless this.devoured}}
            <div>
                <form {{!-- action="/burgers/{{this.id}}?_method=PUT" method="POST" --}}>
                    <button type="submit" class='burgerAvailable' data-id="{{id}}"> {{this.burger_name}} </button>
                </form>
            </div>
            {{/unless}}
            {{/each}}
        </div>

        <div class="col-sm-6">
            <label>Eaten:</label>
            {{#each burgers}}
            {{#if this.devoured}}
            <div class='burgerEaten'>
                <div>
                    {{this.burger_name}}
                    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
<br><br>
<form class="create-form">
    <div class="form-group col-sm-12">
        <input class= "col-sm-12" type="text" id="inputburger" name="name">
    </div>
    <button type="submit" class="col-sm-12 btn btn-primary">Submit</button>
</form>
    <P class="center">Enter a burger you want to eat click the "submit" button</P>

    